#appNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 18px 0px 0 0;
    padding: 0 15px 0 0;
    font-size: 16px;
}

#appNav li {
    display: inline-block;
    white-space: nowrap;
}

#appNav li+li::before {
    content: " | ";
}

#appNav a {
    color: white;
    text-decoration: none;
    padding: 0 5px;
}

#appNav a:hover {
    color: var(--light-color);
    text-decoration: underline;
}

@media only screen and (min-width: 1280px) {
    #appNav {
        flex-wrap: nowrap;
        font-size: 18px;
        justify-content: flex-end;
        overflow: visible;
        padding-right: 25px;
    }
}