.vectorMap {
    background-color: #0B0A08;
}

.vectorMap .continent {
    fill: var(--main-bg-color);
}

.clashPopup {
    font-family: 'Roboto Condensed', sans-serif;
}

.clashPopup h4 {
    border-bottom: 1px solid #888;
    margin: 0;
}

.clashPopup .data {
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 5px;
}

.clashPopup .data label {
    text-align: right;
    color: #888;
}