#mapLegend {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3vw;
    margin-top: 4px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: flex-end;
    column-gap: 2px;
    position: relative;
}

#mapLegend .legendSection {
    max-width: 95vw;
}

#mapLegend h3,
#mapLegend h4 {
    font-size: 16px;
    text-align: center;
}

#mapLegend #areaLegend {
    order: -1;
}

@media only screen and (min-width: 768px) {
    /* For desktop */
    #mapLegend {
        display: grid;
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
        margin-top: 4px;
        margin-bottom: 20px;
        height: 150px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        column-gap: 30px;
    }
    #mapLegend #areaLegend {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
        width: 300px;
    }
    #mapLegend #clashesLegend {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
        width: 240px;
    }
    #mapLegend svg {
        padding-top: 15px;
    }
    #mapLegend h3,
    #mapLegend h4 {
        font-size: 18px;
        margin: 0;
    }
    #mapLegend svg .headerBackground {
        fill: var(--inset-bg-color);
    }
    #mapLegend #hideLegend {
        -moz-appearance: button;
        appearance: button;
        text-decoration: none;
        background-color: transparent;
        color: var(--light-color);
        padding: 5px 10px;
        border-radius: 8px;
        border: 1px solid var(--main-bg-color);
        margin: 0 20px 0 0;
        vertical-align: top;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #mapLegend #hideLegend:hover {
        background-color: var(--highlight-color);
    }
    #mapLegend #areaLegend {
        order: 10;
    }
}