#mapLegend {
  margin-top: 4px;
  margin-bottom: 20px;
  height: 296px;
}

#mapLegend svg {
  background-color: var(--inset-bg-color);
}

#mapLegend svg .headerBackground {
  fill: var(--inset-header-bg-color);
}
