#longform {
    padding: 10px calc(50vw - 500px);
    max-width: 90vw;
    overflow-y: scroll;
    text-align: left;
    font-size: 1em;
    line-height: 1.8;
    font-family: 'Playfair Display', serif;
    color: #eee;
    margin: 0 auto;
}

#longform h3 {
    text-align: center;
    color: var(--light-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
}

#longform a {
    color: var(--light-color);
    text-decoration: none;
}

#longform a:hover {
    color: white;
    text-decoration: underline;
}

#longform nav {
    text-align: right;
    position: sticky;
    top: 20px;
}

#longform button {
    background-color: var(--main-bg-color);
    color: var(--light-color);
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 4px 10px;
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
    padding: 5px 12px;
}

#longform button.selected {
    background-color: var(--highlight-color);
}

#longform .citation {
    padding-left: 40px;
}

@media only screen and (min-width: 1280px) {
    #longform {
        font-size: 1.2em;
        max-width: 1000px;
    }
}