#timelineDateHeader {
    height: 46px;
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

#timelineDateHeader .button circle {
    fill: var(--highlight-color);
}

#timelineDateHeader .button line,
#timelineDateHeader .button path {
    pointer-events: none;
    stroke: var(--light-color);
    stroke-width: 2px;
    fill: transparent;
}

#timelineDateHeader .button:hover line,
#timelineDateHeader .button:hover path {
    stroke: white;
}

#timelineDateHeader .label {
    display: inline-block;
    margin: 0 5px;
}

#timelineDateHeader .label * {
    margin: 0px;
}

#timelineDateHeader .label .subtext {
    font-size: 0.6em;
    vertical-align: text-top;
}