.timeline {
  font-weight:  300;
  background-color: var(--inset-bg-color);
  margin: 20px 0;
}

.timeline::-webkit-scrollbar,
#timelineRows::-webkit-scrollbar {
    width: 8px;
}

.timeline::-webkit-scrollbar-thumb,
#timelineRows::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color);
  border-radius:  4px;
}

.timeline::-webkit-scrollbar-track
#timelineRows::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px var(--inset-header-bg-color);
    border-radius: 8px;
}

.timeline .axisLabels text {
  fill: silver;
}
