.vectorMap {
  overflow: visible;
}




.labelBG {
  stroke-width: 0;
  background-color: transparent;
}

.neighborhoodLabel {
  border: none;
  box-shadow: none;
  font-size: 1.5em;
  line-height: 1.1;
  color: silver;
  font-family: "PT Sans";
  background-color: transparent;
  /* text-shadow: -1px 0 1px #666666, 0 1px 1px #666666, 1px 0 1px #666666, 0 -1px 1px #666666; */
  margin: 0;
  padding: 0 3px;
}
