body {
  margin: 0;
  background-color: #094182;
}

.App {
  text-align: center;
  background-color: #01131D; /* #F4DFB8; */
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 1fr 1fr;
  max-height: 100vh;
  overflow: hidden;
}

header {
  height: 50px;
  font-family: 'Cambay', sans-serif;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  color: yellow;
}

.vectorMap {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.timeline {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  overflow: scroll;
}



header h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
